<div class="home">
    <div class="hero">
        <div class="text">
            <h1>Ferramentas e ideias para você ganhar dinheiro online</h1>
            <p>Find me in app/views/home/index.html.erb</p>
        </div>
        <div class="image-1">
            <img>
        </div>
    </div>
</div>
