<%= javascript_pack_tag 'home' %>

<section id="hero">
    <div class="text">
        <h1>
            <span id="invisible">Ferramentas</span><span id="selling-points"></span><span id="cursor" class="blink">|</span> para você ganhar dinheiro online
        </h1>
        <p>Find me in app/views/home/index.html.erb</p>
    </div>
    <div class="image-1">
        <%= image_tag('InglesNerd Screenshot  2020-09-16.png') %>
    </div>
</section>

<section id="about">
    <div>
        <h2>Sobre</h2>
    </div>
</section> 


